<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><a href="/">LOGIN</a></h1>
    <h3> ID : </h3>
    <input type = "text" id="userID" name="ID">
    <h3> PW : </h3>
    <input type="text" id="userPw" name="PW">

    <input type="button" id="login" value="LOGIN">
</body>

<script src="http://code.jquery.com/jquery-latest.js"></script> 
<script>
    $("#login").click(() => {
        let id = $("#userID").val();
        let pw = $("#userPw").val();

        $.ajax({
            type:"POST",
            dataType:"JSON",
            url:"/login",
            data: {id, pw}
        }).done(function(data){
            if(data.msg == "success"){
                location.href = "/main";
            }else{
                console.log(data.msg)
            }
        })
    })
</script>
</html>
