/*로그인 css*/
.loginLogo{
  width: 1200px;
  height: 420px;
  background-color: #FAEAD3;
  position: relative;
}

.loginLogoText{
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginContent{
  width: 1200px;
  height: 410px;
  background-color: #FAEAD3;
  display: flex;
  flex-direction: column;  
  justify-content: center; 
  align-items: center;  
}

.inputDiv{
  width:460px;
  height: 180px;
  background-color: #FAEAD3;
  margin: 40px;
}

.btnDiv{
  width:460px;
  height: 150px;
  background-color: #FAEAD3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.loginInput{
  width: 460px;
  height: 80px;
  background-color: #FDF9F2;
  border: 2px solid #FADDB7;
  border-radius: 30px;
  padding: 0px 20px;
  font-size: 16px;
}

.loginBtn{
  width: 460px;
  height: 80px;
  background-color: #D47E22;
  color: #fff;
  font-size: 20px;
  border: 2px solid transparent;
  border-radius: 30px;
  padding: 0px 10px;
  display: block;
  cursor:pointer;
}

.joinBtn{
  border: 0px solid transparent;
  background-color: #FAEAD3;
  color: #646464;
  margin-top: 8px;
  cursor:pointer;
}

/*회원가입*/
.joinLogo{
  width:1200px;
  height: 220px;
  background-color: #FAEAD3;
  position: relative;
}

.joinLogoText{
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.joinContent{
  width: 1200px;
  height: 720px;
  background-color: #FAEAD3;
  display: flex;
  flex-direction: column;  
  justify-content: center; 
  align-items: center;  
}

.joinInputDiv{
  width:460px;
  height: 400px;
  background-color: #FAEAD3;
}

.joinInputContent{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.joinLabel{
  width:100px;
  font-size: 18px;
  margin-right: 10px;
}
.joinInput{
  width: 460px;
  height: 80px;
  background-color: #FDF9F2;
  border: 2px solid #FADDB7;
  border-radius: 30px;
  padding: 0px 20px;
  font-size: 16px;
}

/*groupList*/
.group{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.groupButton{
  width: 64px; 
  height: 64px;
  border: 2px solid #D47E22;
  border-radius: 50%;
  background-color: #ffffff80;
  cursor: pointer;
}

.groupProfile{
  width: auto;
  min-width: 190px;
  height: 70px;
  position: absolute;
  display: flex;
  top: 5%;
  right: 5%;
  align-items: center;
  background-color: #d9d9d980;
  z-index: 2;
}

.groupProfileImg{
  width: 64px;
  height: 64px;
  background-color: #d9d9d980;
  border: 2px solid #D47E22;
  border-radius: 50px;
  margin-right: 10px;
  z-index: 2;
}


/*레이아웃*/
.headerBackgroundImg{
  width: 1200px;
  height: 180px;
  background-image: url("C:\project\hamoggozi\front\src/images/마조리카.jpeg");
  position: absolute;
}

.headerBackgroundOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d9d9d980; 
  z-index: 1;
}

.headerGroup{
  display: flex;
  position: absolute;
  right: 0;
}

.headerGroupButton{
  width: 32px; 
  height: 32px;
  border: 2px solid #D47E22;
  border-radius: 50%;
  background-color: #ffffff80;
  cursor: pointer;
  z-index: 3;
}

.logoutBtn{
  width: 32px;
  height: 32px;
  right: 0;
  z-index: 3;
  cursor: pointer;
}

.profileDiv{
  width: auto;
  min-width: 190px;
  height: 70px;
  position: absolute;
  display: flex;
  left: 3%;
  bottom: 10%;
  background-color: #d9d9d980;
  z-index: 2;
}

.profileImg{
  width: 70px;
  height: 70px;
  background-color: #d9d9d980;
  border: 2px solid #D47E22;
  border-radius: 50px;
  margin-right: 10px;
  z-index: 2;
}

.profileInfoAuth{
  display: flex;
}

.profileAuthImg{
  width: 24px;
  height: 24px;
  border: 1px solid #D47E22;
  border-radius: 50px;
}

/*왼쪽 메뉴*/
.calendar{
  width: 300px;
  height: 250px;
  border: 2px solid #D47E22;
  margin: 10px auto;
}

.menu{
  width: 300px;
  height: auto;
  border: 2px solid #D47E22;
  margin: 10px auto;
}

/*오른쪽 content*/

/*notic*/
.noticeDiv{
  position: relative;
  width: 840px;
  height: 200px;
  margin: 10px 20px 40px 20px;
}

.noticeHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.noticeContent{
  width: 820px;
  height: 160px;
  border: 2px solid #D47E22;
  background-color: #ffffff80;
  padding: 5px 10px;
}

.noticeInput{
  width: 100%;
  height: 100%;
}


/*post*/
.searchDiv{
  width: 840px;
  height: 40px;
  background-color: #FAEAD3;
  margin: 10px 20px;
  display: flex;
  align-items: center;
}

.search{
  width: 230px;
  height: 40px;
  border: 1px solid #D47E22;
  background-color: #ffffff80;
  border-radius: 30px;
  padding: 0 20px;
}

.rowCountSelect{
  width: 85px;
  height: 40px;
  border: 1px solid #D47E22;
  background-color: #ffffff80;
  border-radius: 30px;
  margin-left: auto;
}

.postMenu{
  width: 840px;
  height: 30px;
  margin: 10px 20px;
}

.postMenuBtn{
  width: auto;
  height: 30px;
  border: 1px solid #D47E22;
  border-radius: 10px;
  background-color: #fff;
  padding: 0 10px;
}

.postDiv{
  width: 840px;
  height: auto;
  min-height: 314px;
  border: 1px solid #D47E22;
  margin: 0 20px;
}

/*oneDiary*/
.oneDiaryDiv{
  width: 860px;
  height: auto;
  background-color: #FAEAD3;
  margin: 30px 10px;
}

.oneDiaryList{
  width: 840px;
  height: 110px;
  background-color: #ffffff80;
  margin: 0 10px;
  padding: 0 20px;
}

.oneDiaryInfo{
  margin: 10px 0;
}

.oneDiaryInfoDiv{
  display: flex;
  align-items: center;
}

.oneDiaryDateDiv{
  position: relative;
  height: 12px;
}

.oneDiaryDate{
  position: absolute;
  color: #646464;
  font-size: 12px;
  right: 0;
}

.oneDiaryUser{
  flex: 0.2;
}

.oneDiaryContent{
  flex: 0.8
}

.oneDiaryInputBtn{
  position: relative;
  width: 840px;
  height: 40px;
  background-color: #ffffff80;
  border-radius: 50px;
  margin: 10px 10px;
  padding: 0 20px;
}

.oneDiaryInput{
  position: absolute;
  width: 750px;
  height: 39px;
  left: 0;
  border: 1px solid #D47E22;
  border-radius: 50px 0 0 50px;
  padding: 0 20px;
}

.oneDiarySendBtn{
  position: absolute;
  width: 90px;
  height: 39px;
  right: 0px;
  color: #fff;
  font-size: 18px;
  background-color: #D47E22;
  border: 1px solid #D47E22;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
}
