/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  font-family: sans-serif;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}


.container{
  box-sizing: border-box;
  background-color: #FAEAD3 !important;
  min-height: 100vh;
}

.content{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  background-color: #FAEAD3 !important;
}

/*레이아웃 헤더*/
.headerContent{
  width: 1200px;
  height: 180px;
  margin: 0 auto;
  position: relative;
}

/*레이아웃 메인*/
.main {
  width: 1200px;
  height: auto;
  display: flex;
}

.left{
  width: 320px;
  height: auto;
  background-color: #FAEAD3;
}

.right{
  width: 880px;
  height: auto;
  background-color: #FAEAD3;
}



.mr10{
  margin-right: 10px;
}

.mb10{
  margin-bottom: 10px;
}