/*reset*/
@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none
}

html, body, #root {
  height: 100%;
  margin: 0;       /* 여백 제거 */
  padding: 0;
  background-color: #FAEAD3;
  font-family: sans-serif;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}


.container{
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #FAEAD3;
  padding-bottom: 20px;
}

.content{
  width: 1200px;
  margin: 0 auto;
  background-color: #FAEAD3;
}

/*레이아웃 헤더*/
.headerContent{
  width: 1200px;
  height: 180px;
  margin: 0 auto;
  position: relative;
}

/*레이아웃 메인*/
.main {
  width: 1200px;
  height: auto;
  display: flex;
}

.left{
  width: 320px;
  height: auto;
  background-color: #FAEAD3;
}

.right{
  width: 880px;
  height: auto;
  background-color: #FAEAD3;
}



.cursorPointer{
  cursor: pointer !important;
}

.scrollbox{
  overflow-y: auto;
}
.scrollbox::-webkit-scrollbar {
  width: 8px;
}
.scrollbox::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 4px;
}
.scrollbox::-webkit-scrollbar-track {
  background: #f0f0f0;
}
.scrollbox::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}




.mr10{
  margin-right: 10px;
}

.mb10{
  margin-bottom: 10px;
}